<div class="container">
	<div class="row">
		<div class="col-md-12" ng-class="timer.getClass()" style="margin-top: 200px;">
			<h2>
				Cycle {{timer.getCycleNumber()}}
			</h2>
			<h2 class="student">
				Student {{timer.getStudentNumber()}}
			</h2>
			<timer autostart="false" countdown="timer.countFrom" interval="1000" finish-callback="timer.finished()">
				<h1 class="text-right">{{seconds || 60}}</h1>
				<div class="progress">
					<div class="progress-bar" style="width: {{progressBar}}%;"></div>
				</div>
			</timer>
			<div class="text-center">
				<button class="btn btn-lg btn-success" ng-click="timer.start()" ng-hide="timer.timerRunning || timer.timerStarted">Start</button>
				<button class="btn btn-lg btn-danger" ng-click="timer.stop()" ng-show="timer.timerRunning">Stop</button>
				<button class="btn btn-lg btn-primary" ng-click="timer.resume()" ng-hide="timer.timerRunning || !timer.timerStarted">Resume</button>
				<button class="btn btn-lg btn-danger" ng-click="timer.reset()" ng-hide="timer.timerRunning || !timer.timerStarted">Reset</button>
			</div>
		</div>
	</div>
</div>
