.student-1 {
    .student {
        color: #D95B43;
        font-weight: bold;
    }
    .progress-bar {
        background-color: #D95B43;
    }
}

.student-2 {
    .student {
        color: #542437;
        font-weight: bold;
    }
    .progress-bar {
        background-color: #542437;
    }
}

.student-3 {
    .student {
        color: #ECD078;
        font-weight: bold;
    }
    .progress-bar {
        background-color: #ECD078;
    }
}

.student-4 {
    .student {
        color: #53777A;
        font-weight: bold;
    }
    .progress-bar {
        background-color: #53777A;
    }
}
